$prefix-breadcrumb: #{$css-prefix}breadcrumb;

.#{$prefix-breadcrumb} {
    font-size: 12px;
    a {
        color: rgba(0, 0, 0, .65);
    }
    &-item {
        &-separator {
            margin: 0 8px;
            color: rgba(0, 0, 0, .3);
        }
        &:last-child {
            font-weight: bold;
            .#{$prefix-breadcrumb}-item-separator {
                display: none;
            }
        }
    }
}