$prefix-cls-col: #{$css-prefix}col;

.#{$prefix-cls-col}-0 {
    display: none;
}

@for $i from 1 through 24 {
    $width: (1 / (24 / $i)) * 100%;
    .#{$prefix-cls-col}-#{$i} {
        width: #{$width};
        float: left;
    }
    .#{$prefix-cls-col}-offset-#{$i} {
        margin-left: #{$width};
    }
}