$prefix-dropdown: #{$css-prefix}dropdown;

.#{$prefix-dropdown} {
    &-menu {
        box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
        border-radius: 4px;
        &-item {
            padding: 7px 8px;
            cursor: pointer;
            transition: all .3s;
            &:hover {
                background: $blue-1;
            }
        }
    }
}