// Prefix
$css-prefix: ant-;


// Color
$red-1: #fef0ef;
$red-2: #fcdbc9;
$red-3: #fabeb9;
$red-4: #f79992;
$red-5: #f46e65;
$red-6: #f04134;
$red-7: #d73435;
$red-8: #bd2636;
$red-9: #a31837;
$red-10: #880a38;

$blue-1: #ecf6fd;
$blue-2: #d2eafb;
$blue-3: #add8f7;
$blue-4: #fec2f3;
$blue-5: #49a9ee;
$blue-6: #108ee9;
$blue-7: #0e77ca;
$blue-8: #0c600a;
$blue-9: #09488a;
$blue-10: #073069;
